body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.background {
    position: fixed;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    background: url('../assets/images/catalogue_background.jpg') no-repeat center center;
    background-size: cover;
    z-index: -1;
    filter: brightness(0.5);
}

header {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    background: rgba(82, 7, 82, 0.7);
    position: fixed;
    width: 100%;
    top: 0;
    box-sizing: border-box;
    z-index: 5;
}

header button {
    background: black;
    border: 2px solid rgba(82, 7, 82, 0.7);
    border-radius: 6px;
    color: rgba(222, 22, 222, 0.7);
    font-size: 17px;
    padding: 8px 16px;
    margin-left: 5px;
    cursor: pointer;
    transition: 0.2s;
}

header button:hover {
    background:rgba(112, 11, 112, 0.7);
    color: black
}

main {
    display: flex;
    justify-content: space-between;
    gap: 200px;
    margin-top: 70px;
    padding: 20px;
}

.movies-container {
    flex: 2;
    flex-wrap: wrap;
    display: flex;
    gap: 15px;
    align-items: flex-start; 
}

.movie-card {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    background: rgba(127, 66, 142, 0.9);
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    width: 350px; 
    max-width: 100%;
    box-sizing: border-box;
}

.movie-card h3 {
    margin: 0 0 5px 0;
}

.movie-card p {
    margin: 2px 0;
}

.movie-card .heart {
    font-size: 20px;
    cursor: pointer;
    margin-right: 10px;
    color: white;
}

.movie-card .heart.favorited {
    color: purple;
}

.movie-card {
    display: flex;
    flex-direction: column;     
    justify-content: space-between;
    align-content: flex-start;
    background: rgba(127, 66, 142, 0.9);
    color: white;
    padding: 15px;
    border-radius: 5px;
    width: 350px;
    min-height: 140px;           
    box-sizing: border-box;
}
.add-movie-panel {
    flex: 1;
    margin-left: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.left-main-section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
    margin-left: 30px;
}

#add-movie-btn {
    background: purple;
    color: white;
    font-size: 16px;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    margin-bottom: 15px;
}

#add-movie-btn:hover {
    opacity: 0.8;
}

.modal {
    position: relative;
    background: rgba(107, 9, 107, 0.9);
    padding: 15px;
    border-radius: 5px;
}

.modal-content {
    padding: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.modal-content input {
    padding: 8px;
    border-radius: 3px;
    border: 1px solid #ccc;
}

.close-modal {
    align-self: flex-end;
    cursor: pointer;
    font-size: 20px;
}
.sort-buttons {
    margin: 10px 0;
}

.sort-buttons button {
    padding: 8px 12px;
    margin-right: 10px;
    background-color: rgba(82, 7, 82, 1);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.sort-buttons button:hover {
    background-color: #4b0072;
}
.modal {
    position: relative;
    background: rgba(107, 9, 107, 0.7);
    padding: 20px;
    border-radius: 5px;
    width: 350px;        
    max-width: 90vw;     
}

h2 {
    margin-bottom: 30px;
    margin-top: -20px;
    font-size: 1.7rem;
    color: white;
    border-color:  #4b0072;
}

.close-modal {
    font-size: 2rem;
    color: rgb(248, 241, 241);
}

.modal-content {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

#add-movie-form {
    display: flex;
    flex-direction: column;
    gap: 12px; 
}

#submit-btn {
    height: 25px;
    width: 60px;
    margin-top: 10px;
}