body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.background {
    position: fixed;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    background: url('../assets/images/catalogue_background.jpg') no-repeat center center;
    background-size: cover;
    z-index: -1;
    filter: brightness(0.5);
}

header {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    background: rgba(82, 7, 82, 0.7);
    position: fixed;
    width: 100%;
    top: 0;
    box-sizing: border-box;
    z-index: 5;
}

header button {
    background: black;
    border: 2px solid rgba(82, 7, 82, 0.7);
    border-radius: 6px;
    color: rgba(222, 22, 222, 0.7);
    font-size: 17px;
    padding: 8px 16px;
    margin-left: 5px;
    cursor: pointer;
    transition: 0.2s;
}

header button:hover {
    background:rgba(112, 11, 112, 0.7);
    color: black
}

.movie-card .heart {
    font-size: 20px;
    cursor: pointer;
    margin-right: 10px;
    color: white;
}

.movie-card .heart.favorited {
    color: purple;
}

.movies-container {
    flex: 2;
    flex-wrap: wrap;
    display: flex;
    gap: 15px;
    align-items: flex-start; 
}

.movie-card h3 {
    margin: 0 0 5px 0;
}

.movie-card p {
    margin: 2px 0;
}

.movie-card .movie-actions{
    display: flex;
    justify-content: space-between;
}

.movie-card .heart {
    font-size: 20px;
    cursor: pointer;
    margin-right: 10px;
    color: white;
}

main {
    display: flex;
    justify-content: space-between;
    gap: 200px;
    margin-top: 70px;
    padding: 20px;
}


.favorites-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 60%;
}

.movie-card {
    display: flex;  
    justify-content: space-between;
    background: rgba(127, 66, 142, 0.9);
    color: white;
    padding: 15px;
    border-radius: 5px;
    width: 350px;
    height: 170px;   
    box-sizing: border-box;
}

.movie-actions {
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: space-between;
    align-items: flex-end;
}

.more-btn {
    height: auto;
    width: auto;
    cursor: pointer;
    background: rgba(107, 9, 107, 0);
    border: 0;
    font-size: 14px;
    color: rgb(42, 1, 42);
}
