html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.background {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../assets/images/space.jpg') ;
    background-size: cover;
    background-position: center;

}

.login-form-container {
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: rgba(128, 0, 128, 0.6);
    padding: 50px;
    border-radius: 10px;
    text-align: center;
    width: 300px;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

input {
    width: 90%;
    padding: 10px;
    margin: 10px 0px;
    border-radius: 5px;
    font-size: 20px;
    border: 0.1rem solid gray;
    transition: border-color 0.3s;
}

.login-btn {
    width: 95%;
    padding: 10px;
    margin-top: 15px;
    border-radius: 5px;
    border: none;
    background-color: rgba(82, 7, 82, 0.7);
    color: white;
    font-size: 18px;
    cursor: pointer;
    transition: 0.2s all;
}

button:hover {
    background-color: rgba(255, 255, 255, 0.6);
    color: rgba(82, 7, 82, 0.7);
}

.input-valid {
    border-color: green;
}

.input-invalid {
    border-color: red;
}


@media (max-width: 600px) {
    .login-form-container {
        width: 85%; 
        padding: 30px 20px;
    }

    input {
        width: 100%;
        box-sizing: border-box; 
        font-size: 16px; 
    }

    .login-btn {
        width: 100%;
        padding: 12px; 
    }
}