.html,
.body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../assets/images/space.jpg') no-repeat center center/cover;
    filter: blur(8px);
    /* here z-index makes backrounf appear behind form */
    z-index: -1;
}

