html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.main-page {
    background-image: url('../assets/images/space.jpg');
    background-size: cover;
    background-position: center;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.app-name {
    position: relative;;
    font-size: 95px;
    color: white;
    text-align: center;
    animation: flyDown 1s ease-out forwards;
}

.main-buttons {
    margin-top: 20px;
    display: flex;
    gap: 20px;
}

.login-btn,
.register-btn {
    position: relative;
    padding: 10px 25px;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    background-color: rgba(128, 0, 128, 0.7); 
    font-size: 1.4rem;
    transition: all 0.2s ease-in-out;
}

button:hover {
    background-color: rgba(255, 255, 255, 0.6);
    color: rgba(108, 44, 168, 0.8);
}

@keyframes flyDown {
    0% {
        top: -200px;
        opacity: 0;
    }

    100% {
        top: 0;
        opacity: 1;
    }
}