.html,
.body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../assets/images/space.jpg') no-repeat center center/cover;
    filter: blur(8px);
    /* here z-index makes backrounf appear behind form */
    z-index: -1;
}

.registration-form-container {
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: rgba(128, 0, 128, 0.6);
    padding: 50px;
    border-radius: 10px;
    text-align: center;
    width: 300px;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

h1 {
    color: white;
    margin-bottom: 20px;
    font-size: 2rem;
}

p {
    color: white;
    margin-top: 15px;
}

a {
    color: black;
    text-decoration: none;
}

input {
    width: 90%;
    border: 1%;
    padding: 10px;
    margin: 10px 0px;
    border-radius: 5px;
    border: 2px solid gray;
    font-size: 20px;
    transition: border-color 0.3s;
}

.registrate-btn {
    width: 95%;
    padding: 10px;
    margin-top: 15px;
    border-radius: 5px;
    border: none;
    background-color: rgba(82, 7, 82, 0.7);
    color: white;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

button:hover {
    background-color: rgba(255, 255, 255, 0.6);
    color: rgba(82, 7, 82, 0.7);
}

.input-invalid {
    border-color: red;
}

.input-valid {
    border-color: green;
}

#pass-verification{
    display: block;
    justify-self: flex-start;
    margin-left : 5px;
    font-size: 14px;
    color: rgb(148, 141, 141);
}