name: Deploy to GitHub Pages

on:
  push:
    branches:
      - main 

permissions:
  contents: write 

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout 
        uses: actions/checkout@v4

      - name: Inject API Key 
        run: |
          sed -i "s/API_KEY_PLACEHOLDER/${{ secrets.OMDB_API_KEY }}/g" js/movie.js
          sed -i "s/API_KEY_PLACEHOLDER/${{ secrets.OMDB_API_KEY }}/g" js/movie_fav.js

      - name: Deploy 
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: . 
          branch: gh-pages 